<div class="page-wrapper">
    <!-- MENU SIDEBAR-->
    <app-product-category></app-product-category>
    <!-- END MENU SIDEBAR-->


    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop">
            <div class="section-content section-content-p30">
                <div class="container-fluid">
                    <div class="header-wrap">

                        <!--Search-->
                        <app-search></app-search>
                        <!-- End Search-->

                        <!---->
                        <app-cart-status></app-cart-status>
                        <!---->
                    </div>
                    <div class="account-wrap"></div>
                </div>
            </div>
        </header>
        <!-- END HEADER DESKTOP-->


        <!-- MAIN CONTENT-->
        <!-- app-list-product></app-list-product-->
        <router-outlet></router-outlet>
        <!-- END MAIN CONTENT-->
         
		</div>
	</div>
